In [3]:
import pandas as pd
import numpy as np
import pickle
import tensorflow as tf
from tensorflow.keras.models import load_model

In [6]:
model = load_model('model.h5')

with open('onehot_encoder_geo.pkl', 'rb') as f:
    label_encoder_geo = pickle.load(f)

with open('geo_gender_encoder.pkl', 'rb') as f:
    label_encoder_gender = pickle.load(f)

with open('scaler.pkl', 'rb') as f:
    scaler = pickle.load(f)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [54]:
input_data = {
    'RowNumber': 1,
    'CustomerId': 123456,
    'CreditScore': 600,
    'Geography': 'France',
    'Gender':'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000.
}

In [57]:
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\Jay\Desktop\Ai Learning\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [58]:
input_df = pd.DataFrame([input_data])
final_input = pd.concat([input_df.reset_index(drop=True), geo_encoded_df], axis=1)
final_input = final_input.drop(columns=['Geography'])
final_input

,RowNumber,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,1,123456,600,Male,40,3,60000,2,1,1,50000.0,1.0,0.0,0.0

In [59]:
final_input['Gender']= label_encoder_gender.fit_transform(final_input['Gender'])
final_input

,RowNumber,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,1,123456,600,0,40,3,60000,2,1,1,50000.0,1.0,0.0,0.0

In [60]:
input_scaled = scaler.transform(final_input)

In [66]:
prediction = model.predict(input_scaled)
prediction_prob = prediction[0][0]
prediction_prob

1/1 ━━━━━━━━━━━━━━━━━━━━ 2s 2s/step

np.float32(0.0)